/**형제 요소 중 제일 첫 요소를 나타냅니다.**/
/**박스 모델로 웹 사이트의 구조를 파악할 것**/
.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 27px;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 600;
  font-size: 18px;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 17px;
  color: rgb(0, 0, 0, 0.5);
}
